<div>
  <h3>Interpolación</h3>
  <p>Tu nombre {{nombre}} y tienes {{edad}} años</p>
  <p>{{esFumador()}}</p>
</div>
<div>
  <h3>Directiva *ngIf</h3>
  <p *ngIf="edad>=18; else menoredad">Es mayor de edad</p>
  <ng-template #menoredad><p>Es menor de edad</p></ng-template>
</div>
<div>
  <h3>Directiva *ngFor</h3>
   <select name="" id="">
    <option *ngFor="let provincia of provincias" [value]="provincia.id">{{provincia.nombre}}</option>
   </select>
</div>
<div>
  <h3>Directiva ngModel</h3>
  <input type="text" [(ngModel)]="nombre">
</div>
<div>
  <h3>Captura de eventos</h3>
  <p>{{contador}}</p>
  <button (click)="decrementar()" >-</button>
  <button (click)="incrementar()" >+</button>
</div>
