  <div class="container table-responsive">
    <h3>Listado de artículos</h3>
    <table
      class="table table-primary"
    >
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Descripción</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let articulo of articulos" class="">
          <td>{{articulo.codigo}}</td>
          <td>{{articulo.descripcion}}</td>
          <td>{{articulo.precio}}</td>
        </tr>
      </tbody>
    </table>
  </div>
